body{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}
span{
    background-color: black;
    color:cyan;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}